@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(3, 84, 84);
    height: 100vh;
    width: 100vw;
}

main {
    
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.595);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: silver url(../imagens/pexels-suzyhazelwood-1629236.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}